# Ignore everything
*

# But not these files...
!*.py
!*.md
!.gitignore

# ...even if they are in subdirectories
!*/

# Ignore everything in the root except the "dist" directory
/*
!/dist/

# Ignore everything in the dist directory except .py and .md files
/dist/*
!/dist/**/*.py
!/dist/**/*.md